$background-gradient: linear-gradient(to right, #9847ff, rgb(192, 5, 238));

.meet__me {
  display: flex;
  justify-content: center;
  padding-top: 180px;

  @media (max-width: 768px) {
    padding-top: 150px;
  }

  @media (max-width: 425px) {
    padding-top: 130px;
  }

  .meet__me__row {
    display: flex;
    justify-content: space-between;
    padding: 0 110px;

    @media (max-width: 1077px) {
      padding: 0 90px;
    }

    @media (max-width: 992px) {
      padding: 0 70px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      padding: 0 25px;
    }

    .introduction {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 395px;
      color: #fff;

      .hello {
        font-size: 40px;
        font-weight: 500;

        @media (max-width: 992px) {
          font-size: 30px;
        }
      }

      .details {
        padding-top: 12px;

        &__name {
          font-size: 73px;
          font-weight: bold;
          background: $background-gradient;
          color: transparent;
          background-clip: text;

          @media (max-width: 1077px) {
            font-size: 58px;
          }

          @media (max-width: 992px) {
            font-size: 45px;
          }

          @media (max-width: 768px) {
            display: flex;
            justify-content: center;
            font-size: 55px;
          }

          @media (max-width: 425px) {
            font-size: 30px;
          }
        }

        &__text {
          font-size: 20px;
          padding-top: 20px;

          @media (max-width: 992px) {
            padding-top: 0px;
          }

          @media (max-width: 768px) {
            text-align: center;
          }
        }

        &__buttons {
          display: flex;
          padding: 32px 0;
          font-size: 16px;

          button {
            width: 170px;
            height: 45px;
            border-radius: 2px;
            text-align: center;
            font-weight: bold;
            color: #fff;

            @media (max-width: 992px) {
              width: 107px;
            }

            @media (max-width: 768px) {
              margin-left: 0px;
              margin-top: 10px;
              width: 50vw;
              height: 38px;
            }
          }

          .hire-me {
            margin-left: 32px;
            background: $background-gradient;

            &:active {
              background: linear-gradient(to right, #8741e4, rgb(172, 4, 212));
              transform: scale(0.95);
            }

            @media (max-width: 768px) {
              margin-left: 0px;
              margin-top: 10px;
            }
          }

          .projectsButton {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 170px;
            height: 45px;
            font-weight: bold;
            background-color: rgba(255, 255, 255, 0);
            border: 1px solid rgb(152 71 255);

            &:active {
              background-color: rgba(152, 71, 255, 0.1);
              transform: scale(0.95);
            }

            @media (max-width: 992px) {
              width: 107px;
            }

            @media (max-width: 768px) {
              margin-left: 0px;
              width: 50vw;
              height: 38px;
            }
          }

          @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 25px 0;
          }
        }
      }

      @media (max-width: 992px) {
        width: 31vw;
      }

      @media (max-width: 768px) {
        align-items: center;
        width: 76vw;
      }
    }

    .personal_photo {
      display: flex;
      align-items: center;

      img {
        height: auto;
        width: 30vw;
        margin-left: 20px;
        overflow: hidden;

        @media (max-width: 992px) {
          width: 31vw;
        }

        @media (max-width: 768px) {
          width: 50vw;
          margin-left: 0px;
        }
      }
    }
  }
}
