.main__title {
    display: flex;
    justify-content: center;
    height: 686px;

    .main__title__row {
        display: flex;
        justify-content: space-between;

        .title__img {
            display: flex;
            align-items: center;
        }

        .title__descr {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 297px;
            width: 592px;

            .descr__title {
                display: flex;
                align-items: center;
                height: 45px;
                font-size: 48px;
                font-weight: 500;
            }

            .descr__body {
                font-size: 16px;
                color: #727272;
                line-height: 26px;
            }

            .descr__button {
                width: 225px;
                height: 65px;
                background: #34547A;
                font-size: 16px;
                text-align: center;
                text-transform: uppercase;
                color: #fff;
                border: none;
            }
        }
    }
}

@media (max-width: 1200px) {
    .main__title {
        height: 655px;

        .title__descr {
            width: 566px !important;
        }
    }
}

@media (max-width: 992px) {
    .main__title {
        height: 57vh;

        .title__img img {
            width: 302px;
        }

        .title__descr {
            max-width: 50vw;
            height: 245px !important;

            .descr__title {
                font-size: 31px !important;
            }

            .descr__body {
                font-size: 14px !important;
            }

            .descr__button {
                width: 28vw !important;
                font-size: 13px !important;
                height: 55px !important;
            }
        }
    }
}

@media (max-width: 768px) {
    .main__title {
        height: 578px;

        .main__title__row {
            flex-direction: column;
            align-items: center;
            height: 466px;

            .title__descr {
                max-width: 90vw;
                align-items: center;
                height: 29vh !important;

                .descr__body {
                    text-align: center;
                }

                .descr__button {
                    width: 32vw !important;
                }
            }
        }
    }
}
