.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;

    @media (max-width: 425px) {
        padding-top: 80px;
    }

    .list_item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 50px;

        .item {
            font-size: 18px;
            text-transform: uppercase;

            >a {
                text-decoration: underline;
                color: #fff;
            }
        }
    }
}
