$header-color: #fff;
$hover-color: rgb(210, 191, 214);

@keyframes header-animation-open {
  from {
    right: -999px;
  }

  to {
    right: 0;
  }
}

@keyframes header-animation-close {
  from {
    right: 0;
  }

  to {
    right: -999px;
  }
}

.header {
  position: fixed;
  display: flex;
  width: 100%;
  backdrop-filter: blur(5px);

  .header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    padding: 0 40px;
    color: $header-color;

    @media (max-width: 425px) {
      padding: 0 30px;
      height: 80px;
    }

    .header__logo {
      display: flex;
      padding-bottom: 10px;

      @media (max-width: 425px) {
        padding-bottom: 13px;
      }

      div {
        font-family: "Darker Grotesque", sans-serif;
        font-size: 38px;
        font-weight: 700;

        @media (max-width: 425px) {
          font-size: 33px;
        }
      }

      .first__part {
        color: #9847ff;
      }
    }

    .burger {
      display: none;
      height: 30px;

      @media (max-width: 768px) {
        display: block;
      }

      @media (max-width: 425px) {
        height: 20px;
      }

      img {
        width: 30px;
        height: 30px;

        @media (max-width: 425px) {
          width: 20px;
          height: 20px;
        }
      }

      &.cross {
        img {
          content: url(../../assets/header-icons/cross.png);
        }
      }
    }

    .header__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 343px;

      @media (max-width: 768px) {
        display: none;
      }

      .list__item {
        display: flex;
        align-items: center;
        height: 100%;

        a {
          text-transform: capitalize;
          color: $header-color;

          &:hover {
            text-shadow: 0.2px 0.2px 0.2px;
            color: $hover-color;
          }

          &:active {
            text-shadow: initial;
          }

          &.underline:hover {
            text-decoration: underline;
          }
        }
      }

      .list__item__main {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid rgb(152 71 255);
        border-width: 2px;
        height: 30px;
        border-radius: 5px;
      }

      .list__item__main a {
        display: flex;
        align-items: center;
        height: 25px;
        padding: 1px 30px;
        text-transform: capitalize;
        color: $header-color;

        &:hover {
          text-shadow: 0.2px 0.2px 0.2px;
          color: $hover-color;
        }
      }
    }
  }
}

.show-nav {
  @media (max-width: 768px) {
    padding: 15px 0;
    height: 100vh;
    border-top: 1px solid gray;
    position: absolute;
    top: 90px;
    animation-name: header-animation-open;
    animation-duration: 0.8s;
    width: 100%;
    color: #fff;
    background-color: #0b0514;
  }

  @media (max-width: 425px) {
    top: 80px;
  }

  .main__list {
    display: none;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 150px;
      margin: 0 40px;
    }

    @media (max-width: 425px) {
      margin: 0 30px;
    }

    .list__item {
      display: flex;
      align-items: center;

      a {
        text-transform: capitalize;
        color: $header-color;

        &:hover {
          text-shadow: 0.2px 0.2px 0.2px;
          color: $hover-color;
        }

        &:active {
          text-shadow: initial;
        }

        &.underline:hover {
          text-decoration: underline;
        }
      }
    }

    .list__item__main {
      display: flex;
      align-items: center;
      height: 30px;
    }

    .list__item__main a {
      display: flex;
      align-items: center;
      height: 25px;
      text-transform: capitalize;
      color: $header-color;

      &:hover {
        text-shadow: 0.2px 0.2px 0.2px;
        color: $hover-color;
      }
    }
  }
}

.menu-animation-open {
  animation-name: header-animation-open;
}

.menu-animation-close {
  animation-name: header-animation-close;
  position: absolute;
  right: 999px;
}
