@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;700&family=Inter:wght@400;700&family=Righteous&family=Urbanist:wght@500;600&display=swap');

/* Reset */
body {
  margin: 0;
  font-family: 'Darker Grotesque', sans-serif;
  background-color: #090411;
}

a,
a:focus,
a:active {
  outline: none;
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
}

/* Styles */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1150px;

  @media (max-width: 1200px) {
    width: 97vw;
  }

  @media (max-width: 992px) {
    width: 94vw;
  }
}
